# Node dependencies
node_modules/
**/node_modules/

# Production build output
dist/
build/
coverage/
*.tsbuildinfo

# Environment files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.swn

# Misc
*.local
